

body {
  background: #1b1717;
  background: -moz-linear-gradient(top,  #1b1717 0%, #151212 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1b1717 0%,#151212 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1b1717 0%,#151212  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1717', endColorstr='#151212',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
  color: #eeebdd;
  height: 100%;
}

.header {
  background-color: #ce1212;
  width: 100%;
  border: 1px solid #810000;
  /* border-radius: 5px; */
}

#navbar {
  text-align: right;
  background-color: #ce1212;
  border-radius: 5px;
  color: #eeebdd;
}

.navbar-item {
  background-color: #ce1212;
  color: #eeebdd;
  border-radius: 5px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.card {
  height: auto;
  width: 150px;
  margin: 15px;
  /* background-color: #ce0000; */
}

.card img {
  height: 200px;
  width: 150px;
}

.card:hover {
  opacity: 50%;
}

.details-container {
  display: flex;
}

/* .desc{
   border: 1px solid #810000;  
} */

.flexspace {
  display: flex;
}

.rating {
  margin-left: 25%;
}

.whereToWatch {
  margin-left: 25%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 3px;
  background-color: #1b1717;
  opacity: 0.5;
  font-size: 7px;
}

.icon {
  height: 30px;
  width: 30px;
}

.providerBox{
  display: flex;
  flex-wrap: wrap;
}

.spacer{
  height: 50px;
}

.providerList {
  margin: 10px;
}
.fill{
  height: 88vh;
  margin: 0;
}

form{
  margin: 25px;
}

.searchBar{
  height: 30px;
  width: 300px;
}
