<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What to Watch</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>
        <p> This is a header</p>
    </header>

    <form>
        <input type="text" placeholder="Search">

        <div>
            <input type="checkbox" id="tv" name="tv">
            <label for="tv">Tv Show</label>
            <input type="checkbox" id="movie" name="movie">
            <label for="movie">Movie</label>
        </div>
    </form>

    <div class="cardContainer">
        <div class="card">
            <img src="https://pics.filmaffinity.com/Jumanji_The_Next_Level-407262058-mmed.jpg"
                alt="Jumanji The Next Level">
        </div>
        <div class="card">
            <img src="https://m.media-amazon.com/images/M/MV5BODQ0NDhjYWItYTMxZi00NTk2LWIzNDEtOWZiYWYxZjc2MTgxXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg"
                alt="Jumanji Welcome to the Jungle">
        </div>
        <div class="card">
            <img src="https://img01.mgo-images.com/image/thumbnail/v2/content/1MVfbb95116ae0e6bd2d8445ef756c26b77.jpeg"
                alt="Jumanji">
        </div>
    </div>
</body>

</html>